---
import Layout from '../../layouts/Layout.astro';
import Publication from "../../components/Publication.astro"
import { publications } from "../../config/publications.ts"
---

<Layout>
  <h3 class="my-10 text-center">Publications</h3>

  <div class="grid grid-cols-1 gap-6">
        {publications.map((publication) => (
          <Publication key={publication.title} {...publication} />
        ))}
  </div>
</Layout>
